@use "base/variables" as v;
@use "base/mixins" as m;
@use "sass:color";

.tickets-container {
  background-color: v.$green;

  h3 {
    color: v.$white;
  }

  .tickets {
    @include m.container;

    @include m.tablet {
      @include m.grid(2);
    }
  }
}

.pass {
    transition: transform .3s ease-in-out;
    &:hover{
        transform: scale(1.1);
    }

  &-name {
    font-size: 3.6rem;
    text-align: center;
    font-weight: 900;
    color: v.$white;
  }

  &-header,
  &-footer {
    padding: 0.5rem;

    p {
      text-align: center;
      color: v.$white;
      margin: 0;
    }
  }

  &-header {
    background-color: v.$pink;

    p {
      text-transform: uppercase;
      font-size: 2.2rem;
      padding: 1rem 0;
    }
  }

  &-body{
    background-color: v.$white;
    ul{
        @include m.reset-list;
        li{
            padding: 2rem;
            border-bottom: 1px solid #e1e1e1;
        }
    }
  }

  &-footer {
    background-color: v.$white;
    padding: 3rem;

    p {
      font-size: 2.8rem;
      font-weight: 900;
      background-color: v.$purple;
      padding: 1rem 0;
      border-radius: 1rem;
      cursor: pointer;
      transition: background-color 0.3s ease;
      &:hover {
        background-color: rgba(color.scale(v.$purple, $lightness: -50%), 90%);
      }
    }
  }
}
